<div id="loader" class="flex space-x-3 justify-center items-center fixed inset-0 bg-white/80 backdrop-blur-sm z-50">
     <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce"></div>
     <div class="w-4 h-4 bg-purple-500 rounded-full animate-bounce delay-200"></div>
     <div class="w-4 h-4 bg-pink-500 rounded-full animate-bounce delay-500"></div>
</div>